<!DOCTYPE html >
<html ng-app="RSA" ng-controller="Auth">

<head>
    <title>Riby Login</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="NatterBase" name="author">
    <meta content="NatterBase" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/img/riby-favicon.png" sizes="32x32" type="image/png" rel="icon">
    <link href="/img/riby-favicon.png" sizes="16x16" type="image/png" rel="icon">

    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<body class="auth-wrapper">
    <div class="all-wrapper with-pattern">
        <div class="auth-box-w" style=" box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);">
            <div class="logo-w">
                <a href="/"><img alt="" src="/img/riby-logo.svg" height="60px"></a>
            </div>

            <div>

                <p class="text-center" style="color: red" ng-bind="error"></p>
                <p class="text-center" style="color: green" ng-bind="message"></p>
            </div>
            <form>
                <div class="form-class">
                    <label for="">Email/Phone</label>
                    <input class="form-con" placeholder="Enter your Email/Phone" type="text" ng-model="Form.Username">
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-class">
                    <label for="">Password</label>
                    <input class="form-con" placeholder="Enter your password" type="password" ng-model="Form.Password">
                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>

                <div ng-if="!show" class="text-center">

                    <img height="50px" width="50px" src="/img/ring.gif">

                </div>


                <div ng-if="show" class="buttons-w">

                    <button ng-click="Loginadmin(Form)" class="button button-primary">Log me in</button>



                    <div class="form-check-inline">

                        <label class="form-check-label">

                            <input class="form-check-input" type="checkbox">Remember Me</label>
                    </div>


                    <br>
                    <br>
                    <a href="/forgot">
                        <p>Forgot Password </p>
                    </a>
                </div>

            </form>
        </div>
    </div>

    <script src="/js/Angular/angular.min.js"></script>
    <!-- App script-->
    <script src="/js/Angular/app.js"></script>
    <script src="/js/Angular/ui-bootstrap-tpls-1.1.0.js" type="text/javascript"></script>
    <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
    <script src="/js/Angular/angular-animate.js" type="text/javascript"></script>
    
    <!-- controller script-->
    <script src="/js/controllers/Auth/Auth.js"></script>
</body>

</html>