<!DOCTYPE html>
<html ng-app = "RSA"  ng-controller = "BVN">

<head>
    <title>Account - Riby</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="NatterBase" name="author">
    <meta content="NatterBase" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="img/riby-favicon.png" sizes="32x32" type="image/png" rel="icon">
    <link href="img/riby-favicon.png" sizes="16x16" type="image/png" rel="icon">
  <!--   <link href="bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="bower_components/datatables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"> -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">


</head>

<body class="auth-wrapper">
    <div class="all-wrapper with-pattern">
        <div class="auth-box-w">
            <div class="logo-w">
                <a href="/"><img alt="" src="img/riby-logo.svg" height="60px"></a>
            </div>
         
               <div>
                
                <p class="text-center" style="color: red" ng-bind="error"></p>
                <p class="text-center" style="color: green" ng-bind="message"></p>
              </div>
              
         
         <form>

            <div class="pad-all-well">
             
                <div class="form-class">

                    <label for="">Enter BVN</label>

                      <div class="form-class">

                    <input class="form-con" placeholder="Enter your BVN" type="text" ng-model="bvn.bvn">

                      </div>

                     <div class="form-check">

                         <label class="form-check-label">

                             <input class="form-check-input" name="optionsRadios" type="radio" value="VOICE" ng-model="bvn.type">VOICE CALL </label>

                      </div>

                     <div class="form-check">

                        <label class="form-check-label">

                            <input class="form-check-input" name="optionsRadios" type="radio" value="SMS" ng-model="bvn.type"> SMS </label>

                      </div>
                   
                </div>

                <div class="buttons-w">
                       
                 <button ng-click="Verify(bvn)" class="button button-primary button-block" >Verify </button> 

                   
                </div>
            </div>

        </form>

        </div>
    </div>
 
    <script src="/js/Angular/angular.min.js"></script>
    <!-- App script-->
    <script src="/js/Angular/app.js"></script>
    <script src="/js/Angular/ui-bootstrap-tpls-1.1.0.js" type="text/javascript"></script>
    <script src="/js/Angular/angular-animate.js" type="text/javascript"></script>
     <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
    <!-- controller script-->
    <script src="/js/controllers/bvn/BVN.js"></script>
    <script src="/js/controllers/save/plan.js"></script>

</body>

</html>
