<!DOCTYPE html>
<html>

<head>
    <title>Register - Riby</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="" name="keywords">
    <meta content="NatterBase" name="author">
    <meta content="NatterBase" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="img/riby-favicon.png" sizes="32x32" type="image/png" rel="icon">
    <link href="img/riby-favicon.png" sizes="16x16" type="image/png" rel="icon">
    <link href="bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="bower_components/datatables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<body>
    <div class="all-wrapper with-pattern ">
        <div class="auth-box-w wider  pad-all">
            <div class="logo-w">
                <a href="/"><img alt="" src="img/riby-logo.svg" height="60px"></a>
            </div>
          <h4 class="text-center">A welcome email massage has been sent to your email addesss <br>
<br>
<br>
          <small class="text-muted">Click on the link in your mail to continue your registration</small></h4>
          
            
        </div>
    </div>
</body>

</html>
